section { display: flex; flex-direction: column; align-items: center; }

#flexContainer {
    align-items: center; display: flex; height: 400px;
    justify-content: center; width: 100%;
}

.modal .swiper-container { height: 40vw; width: 90vw; }
.modal .swiper-slide { display: flex; justify-content: center; }
.modal .no-main-profile { font-size: 30px; }