section { display: flex; justify-content: center; }
section #feedContainer { width: 620px; }
#feedContainer .item { padding: 10px; border-radius: 3px; border: 1px solid #bdc3c7; margin-bottom: 50px; }
#feedContainer .item .top { display: flex; }
#feedContainer .itemProfileCont img { width: 32px; border-radius: 50%; }

#feedContainer .item .itemImg { margin-top: 20px; }
#feedContainer .item .itemImg img { width: 598px; }

#feedContainer .item .itemCtnt { margin-top: 30px; margin-bottom: 20px; padding: 10px; }

.loading {
    align-items: center; display:flex; height: 100%;
    justify-content: center;  width: 100%;  position: fixed;
    z-index: 100;
}
.loading img { width: 80px; }